*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

header{
  background-color: black;
}

.subtitle{
  font-size: 3.5rem;
  color: white;
}

.decoration{
  color: rgb(255, 183, 0);
}

.button{
  background-color:rgb(255, 183, 0) ;
  padding: 12px 16px;
  color: black;
  font-size: 1.3rem;
  display: inline-block;
  margin-top: 32px;
  border-radius: 4px;
}

.button.-primary{
  background-color:rgb(81, 81, 81) ;
  padding: 12px 16px;
  color: black;
  font-size: 1.3rem;
  display: inline-block;
  margin-top: 32px;
  border-radius: 4px;
}

.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header .menu{
  display: flex;
  gap: 32px;
  
}

.header .item{
  color: white;
  font-size: 1.3rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.description{
  background-color: black;
  box-shadow: inset 0 -120px white;

}


.description .columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description .column{
  align-self: self-end;
  padding-bottom: 200px;
}

.description .subtitle{
  padding-top: 120px;
}

.description .text{
  color: gray;
  font-size: 1.8rem;
  margin-top: 32px;
  padding-right: 32px;
}

.decoration .column-image{
  margin-bottom: -120px;
}

.description .image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.store .subtitle{
  color: black;
  margin-left: 132px;
}

.store .column{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  margin: 24px;
}

.store .item .image{
  max-width: 100%;
  border-radius: 4px;
}

.store .item .title{
  color: black;
  font-size: 2rem;
  padding-top: 24px;
}

.store .item .price{
  color: gray;
  font-size: 1.3rem;
  padding-top: 16px;
  margin-bottom: 92px;
}

.model{
  background-color: black;
  box-shadow: inset 0 68px white ,inset 0 -68px white;
}

.model .columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.model .title{
  margin-top: 140px;
  font-size: 2rem;
  color: gray;
}

.model .subtitle{
  margin-top: 24px;
}

.model .text{
  color: gray;
  font-size: 1.3rem;
  margin-top: 24px;
}

.model .link{
  color: rgb(255, 183, 0);
  margin-top: 24px;
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.model .image{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.model .list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.model .list .item{
  font-size: 0.75rem;
}

.model .list .item+.item{
  margin-right: 24px;
}



.model .list .title{
  color: white;
  margin-top: 0px;
}

.model .list .text{
  color: grey;
}

.partners .subtitle{
  color: black;
  margin-top: 32px;
  margin-left: 132px;
  margin-bottom: 60px;
}

.partners .columns{
  margin-left: 24px;
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 80px;

}

.partners .columns .item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
}
 
.partners .columns .item+.item{
  border-left: solid 1px gray;
  
}

.partners .columns .item+.item:nth-child(5){
  border-left: none;
}
.partners .columns .item+.item:nth-child(n+5){
  border-top:  solid 1px gray;
}

.testmonion{
  background-color:rgb(255, 183, 0) ;
}

.testmonion .columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.testmonion .image{
  width: 100%;
  height: 100%;
}

.testmonion .item{
  
  align-self: self-end;
}

.testmonion .item .text{
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  padding: 40px 80px;
}

.testmonion .item .name{
  font-size: 1.5rem;
  padding: 12px 80px 100px 80px;
}

.safe{
  background-color: rgba(27, 27, 27, 0.942);
}

.safe .subtitle{
 padding-top:32px ;
 margin-bottom: 40px;
}

.safe .columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.safe .column{
  background: black;
  color: white;
  padding: 32px 32px 32px 60px;
  border-radius: 4px;
  margin-bottom: 64px;
}

.safe .column .title{
  color: gray;
  font-size: 2rem;
}

.safe .column .title.-primary{
  color: rgb(255, 183, 0) ;
  font-size: 2rem;
}

.safe .column .list .item{
  font-size: 1.2rem;
  margin-top: 16px;
}

.safe .header {
  display: flex;
}

.safe .price{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.safe .price .text{
  font-size: 1rem;
  align-self: flex-end;
  display: flex;
  color: gray;
}


.footer{
  background-color: black;
}

.footer .columns{
  padding-top: 80px;
  color: white;
  display: grid;
  grid-template-columns: 180px 1fr 1fr;
  gap: 120px;
}

/* .footer .container .image{
  display: flex;
  justify-content: flex-start;
} */


.footer .list .title{
  font-size: 2rem;
  margin-bottom: 40px;
}

.footer .list .item{
  font-size: 1.2rem;
  color: gray;
  margin-top: 16px;
}

.footer .list .item.-contact:nth-child(odd)::after{
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background-color: gray;
  margin-top: 16px
}


.footer .list .item .link{
  font-size: 1.2rem;
  color: gray;
}

.footer .social{
  display: flex;
  gap: 32px;
  margin-top: 24px;
}

.footer .bike{
  color: white;
}

.footer .descriptions{
  color: gray;
  padding: 64px 0;
}